/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  zoom: 0.8;
}
.modal-backdrop {
  position: fixed !important;
  transform: translate(50%, 50%) scale(5.25); /* Mengkompensasi zoom 0.8 */
  width: 125vw;
  height: 125vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040 !important;
}
.sidebar {
  /* transform: translate(0%,20%) scaleY(1.5); */
  height: 125vh !important;
}
